<div id="load" class="load">
    <table class="table table-dark">
        <thead>
            <tr>
                <th scope="col">Time Seen</th>
                <th scope="col">MAC Address</th>
                <th scope="col">Vendor</th>
                <th scope="col">RSSI</th>
            </tr>
        </thead>
        <tbody>
          {% for device_info in devices %}
            <tr>
                <td>{{ device_info['time'] }}</td>
                <td>{{ device_info['mac'] }}</td>
                <td>{{ device_info['vendor'] }}</td>
                <td>{{ device_info['rssi'] }} dBm</td>
            </tr>
          {% endfor %}
        </tbody>
    </table>
</div>